p #{gallery.title}
div(id="image-gallery")
    span(id="fullscreen-button") ⤡
    each image, index in images
        div(class="slide-container")
            div(class="counter") #{index + 1} / #{images.length}
            img(class="slide" src=image.filename alt=image.caption)
            p(class="no-js-caption") #{image.caption}
    a(id="prev-button") &#10094;
    a(id="next-button") &#10095;
    div(id="caption-container")
        p(id="caption")
    div(id="exif-container")
        p(id="exif")
    div(class="thumbnails")
        each image, index in images
            div(class="thumbnail-container")
                img(class="thumbnail" src=image.thumbnail alt=image.caption)

script(src="https://cdn.jsdelivr.net/npm/exif-js")
script(src="/js/imageGallery.js")
