p #{gallery.title}
div(id="imageGallery")
    span(id="fullScreenButton") ⤡
    each image, index in images
        div(class="slide-container")
            div(class="counter") #{index + 1} / #{images.length}
            img(class="slide" src=image.filename alt=image.caption)
            p(class="no-js-caption") #{image.caption}
    a(id="prevButton") &#10094;
    a(id="nextButton") &#10095;
    div(id="caption-container")
        p(id="caption")
    div(class="thumbnails")
        each image, index in images
            div(class="thumbnail-container")
                img(class="thumbnail" src=image.thumbnail alt=image.caption)

script(src="/js/imageGallery.js")
